body, html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#colorbox{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid black;
    background-color: white;
}

.exampleBox{
    margin: 1rem;
    padding: 1rem;
    border-bottom: 2px solid black;
    text-align: center;
    background-color: grey;
}

#content{
    color: black;
    padding: 1rem;
}

.dark-mode{
    color: white !important;
    background-color: darkslategray !important;
}

#toggleDM{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: skyblue;
    color: white;
    transition: all .2s;
    outline: none;
}

#toggleDM:hover{
    background-color: red;
}

